<table>
  <tbody>
    <tr>
      <th>Number: </th>
      <td>Order #{{number}}</td>
    </tr>
    <tr>
      <th>Date:</th>
      <td>{{date | date:"dd.MM.yyyy hh:mm"}}</td>
    </tr>
    <tr>
      <th>Status:</th>
      <td>
        <div class="status-box">
          <div class="status" [ngClass]="[status === 1 ? 'status-inprogress' : 'status-completed']">
          </div>
          <span>{{status == 1 ? 'In progress' : 'Completed'}}</span>
        </div>
      </td>
    </tr>
    <tr> <!--TODO Это костыль, чтобы сделать отступ. Заменить-->
      <th></th>
      <td></td>
    </tr>
    <tr>
      <th>Total:</th>
      <td>{{total}}</td>
    </tr>
  </tbody>
</table>



