:host {
  border: 3px solid;
  margin-bottom: 30px;
  padding: 10px;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
}

.status {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.status-completed {
  background: green;
}

.status-inprogress {
  background: red;
}

.status-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}







